*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}
#container>div:nth-child(1){
    width: 40%;
}
#container>div:nth-child(2){
    width: 55%;
}
#container>div>div>h1{
    margin: 60px auto auto 120px;
    font-size: 80px;
    width: 50%;
}
#container>div>div>p{
    margin: 40px auto auto 120px;
    line-height: 24px;
    width: 75;
    font-size: 18px;
    font-weight: 100;
    
}
#container>div>div>img{
    width: 100%;
}
#container2>img{
    width: 90%;
    margin: auto auto auto 5%;
}
#container3{
    width: 85%;
    margin: 40px auto;
}
#subcontainer3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 60px auto;

}
#subcontainer3>div{
    width: 50%;
    margin: auto;
}
#subcontainer3>div>img{
    width: 100%;
}
#subcontainerb{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#subcontainerb>button{
    padding: 15px 25px;
    border-radius: 30px;
    background: rgba(0,55,255,.2);
    color: #0037ff;
    border: none;
    transition: 0.4s;
    cursor: pointer;
    font-weight: bold;
}
#subcontainerb>button:hover{
    background: #0037ff;
    color: white;
}
#container4{
    display: flex;
    width: 100%;
    margin: 40px auto auto auto;

}
#subcontainervideo{
    width: 30%;
    background: black;
}
#subcontainervideo>h1{
    color: white;
}
#subcontainer4{
    width: 70%;
    background: #0037ff;
}
#video{
    width: 100%;
    margin: 40px -100px 80px auto;
    color: white;
    position: relative;
}
#video>h1{
    margin: 20px auto 20px 0px;
}
#subcontainer4>div{
    width: 50%;
    margin: 80px auto 20px 30%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#subcontainer4>div>h2{
    font-size: 32px;
    line-height: 42px;
}
#subcontainer4>div>h3{
    font-size: 22px;
}
#subcontainer4>div>p{
    line-height: 24px;
    margin-bottom: 40px;
}
#subcontainer4>div>a{
    margin-bottom: 60px;
    color: white;
    text-decoration: none;
}
#subcontainer4>div>a:hover{
    color: black;
}
#container5{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    background: #861dff;
    margin-bottom: 60px;
}
#container5>div{
    margin: 40px;
    color: white;
}
#container5>div>a{
    color: white;
    text-decoration: none;
}
#container5>div>a:hover{
    color: black;
}
#container5>div>a>h3{
    margin: 0 auto 20px auto;
}
#container5>div>p{
    margin: 10px auto;
    line-height: 22px;
}
#container5>div>button{
    background: #861dff;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid white;
    gap: 10px;
    margin: 5px 5px 5px 0;
}
#container5>div>button:hover{
    background: white;
    color: #861dff;
}
#container6{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}
#subcontianer6{
    display: flex;
    gap: 20px;
}
#subcontianer6>a{
    text-decoration: none;
    color: black;
}
#subcontianer6>a h2,p{
    margin-bottom: 20px;
}
#subcontianer6>a p{
    line-height: 22px;
}
#op{
    color: #0037ff;
}
#subcontianer6>a:hover h2{
    color: #0037ff;
}
#subcontianer6>a:hover #op{
    color: black;
}
#container7{
    width: 85%;
    background: #0037ff;
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
}
#container7>div:nth-child(1){
    width: 5%;
}
#subcontainer7{
    background: #080736;
    width: 50%;
    color: white;
}
#subcontainer7>h1{
    margin: 40px 40px auto 40px;
}
#subcontainer7 p{
    margin: 40px 40px auto 40px;
}
#subcontainerform{
    background: #3be081;
}
#subcontainerform>h1{
    margin: 40px auto auto 40px;
}
form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto;
    gap: 20px;
}
#ll{
    display: flex;
    align-items: center;
}
#ll>div{
    width: 45%;
    display: flex;
    justify-content: center;
}
#ll>div:nth-child(2){
    display:flex ;
    flex-direction: column;
}
form>div{
    display: flex;
    gap: 30px;
}
input[type="text"],input[type="email"] {
    height: 40px;
    width: 45%;
    border: none;
    border-bottom: 1px solid gray;
    background: #3be081;
}
form>input:nth-child(2){
    width: 95%;
}
form>div:nth-child(4)>input{
    width: 70%;
    border: 1px solid gray;
}
input[type="submit"]{
    width: 20%;
}
input[type="number"]{
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    background: #3be081;

}
#ll>div>label{
    font-size: 10px;
}
select{
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    background: #3be081;
}
#container8{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
}
#container8>div>div{
    margin: 60px;
}
#container8>div>div a{
    text-decoration: none;
    color: white;
}
#container8>div a h1{
    color: #ffcc00;
    margin-top: 20px;
}
#container8>div a p{
    margin-top: 10px;
    line-height: 22px;
}
.imagec8{
    width: 50%;
}
.imagec8>img{
    width: 100%;
}
#container8>div:nth-child(1){
    background: #080736;
}
#container8>div:nth-child(2){
    background: #861dff;
}
#container8>div:nth-child(3){
    background: #0037ff;
}